/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/
nav{
  border: 1px solid black;
  float: left;
  height: 1000px;
  width: 10%;
}
main{
  border: 1px solid black;
  float: left;
  height: 700px;
  width: 70%;
}
section{
  border: 1px solid black;
  float: left;
  height: 175px;
  width: 20%;
}
nav ul{
  list-style-type: none;
  padding: 1 0%;

}





/******************************************
/* ADDITIONAL STYLES
/*******************************************/
