/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
header{
  width: 10%;
  height: 1000px;
  border: 1px solid black;
}


/******************************************
/* LAYOUT
/*******************************************/
header > nav *{
  height: 40%;
  width: 50%;
  padding-left: 2 0%;
  list-style-type: none;
}
header nav > img{
  height: 10%;
  width: 10%;
}
header nav form{
  width: 30%;
  
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
