/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/
header *{
  height: 100%;
  background: black;
  color: white;
}
nav *{
  float: left;
  width: 10%;
  color: white;
  display: block;
}
img{
  width: 35px;
}
nav ul{
width: 70%;
margin: 0%;
}
header nav form{
  width: 100;
}


main > section{
  width: 50%;
  float: left;
}
main section + section section{
  width: 50%;
  height: 250;
  float: left;
}
main section section section{
  width: 33.3333%;
  height: 200px;
  float: left;
  
}



  





/******************************************
/* ADDITIONAL STYLES
/*******************************************/
